.bg-sidenuv{
	background-color:#f8f9fa!important;
	box-shadow: 0px 0px 8px #888888;
}
.bg-gray{
	background-color:#dae0e5!important;
}
.fa-app-store-ios{
	font-size:2rem;
}
.itemcontainer{
    color: black;
    width: 100%;
    height: 100%;
	padding: 5px;
}
.alphabanner{
    background-color: black;
    /* height: 15%; */
    font-size: 1.4em;
    text-align: center;
    color: white;
    padding: 50Px;
}
.alphabannerimg{
    background: black;
    width: inherit;
    padding: 50px;
}
#canvascontainer{
    height: 100%;
    width: 100%;
	    background-image: url("../gridopacity.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-tabs .nav-item {
    color: black;
    width: 33.33%;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
    color: black;
    font-family: boldFont;
}
.sidenuv{
	padding-right: unset!important;
}
.sidenuvright{
	position:fixed;
	height:100%;
	float:right !important;
	right:0px !important;
	width: 450px !important;
}


.priceBtn{
	position:absolute;
	right:60px;
	bottom:15px;
	left: 10px;
}

.loading-screen{

    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #dee1e2;
    opacity: 10;
    width: 100%;
    height: 100%;
    margin: 0;
	}
	.loading{
		position: absolute;
		top: 38%;
		left: 40%;
	}

.main{
	  z-index: -1;
    position: fixed;
    margin-left: 24%;
    width: 125%;
    bottom: 0px;
    top: 0px;
}


.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.colorcontainer{
        padding: 15px;
        height:160px;
    background-color: #6c757d;
    /* width: 65%; */
    bottom: 20px;
    position: absolute;
    left: 3%;
    right: 3%;
    display: flex;
    font-size: 0.8em;
}
.colors{
	margin: 5px;
}
.btn-default{
	background-color: white;
}
.img-elem-thumbnail {
    max-width: 90px!important;
        height: 80px!important;
        padding: .25rem;
        background-color: #b0b0b1;
        /* background-color: #fff;
        border: 1px solid #dee2e6; */
        border-radius: .25rem;

}
.item1-img-elem-thumbnail {
    max-width: 100px!important;
        height: 300px!important;
        padding-left: 3rem ;
        padding-right: 3rem;
        border-radius: .25rem;

}
#container{
	height: 100%;
}
.cloneimg{
	cursor: move;
	height: 100%;
	min-height: 50px;
	max-height: 100%;
	width: 100%;
	min-width: 100px;
	position: absolute;

}
.active{
	background-color:white!important;
}

.banner-footer{
	color: white;
        background-color: black;
        padding: 15px;
    /* height: auto; */
    /* width: 100%; */
    right: 15px;
    left: 28px;
    position: absolute;
    bottom: 20px;
}
.component{
	     vertical-align: middle;
    border-style: none;
    width: 1.5%;
    margin: 60px;
    position: absolute;
    /* left: 10px; */
}

.btn-round-corner{
	font-size: 0.9em;
	    margin: 5px;
	    background-color: black;
    border-radius: 20px;
    height: auto;
    width: 100px;
    padding: 0px!important;
    color: white;
}
.btn-round-corner:hover{
	color: white!important;
}
#pricetable td, #pricetable th {
    border: 0px solid #dee2e6!important;
	padding: 0rem!important;
	font-size: 0.6em;
    font-weight: bold;
	padding-left: 5px!important;
}
#pricetable{
	    height: 90px;
	border: 0px!important;
	background-color: #6c757d;
	padding:5px;
	margin-bottom: 0.5rem;
}
#main{
	position: fixed;
	height: 100vh;
}
.canavas{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.item-img-div{
	max-width: 100px!important;
	height: 120px!important;
}
.item1-img-div{
    max-width: 100px!important;
    height: 300px!important;
}
.thead-dark, #pricebody tr {
    display:table;
    width:100%;

}
#pricebody{
		display:block;
    height:30vh;
    overflow:auto;
}
.pricetable{
	overflow-x: auto;
}
.label{
    font-size: 0.5rem;
}
.cell-ellipsis{
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.tfoot{
    display: block; 
    background-color:
     #6c757d; 
     right: 25px;
      position: absolute; 
      bottom: 50px; 
      width: 90%;
      font-family: boldFont
}
@font-face {
    font-family: boldFont;
    src: url(./fonts/AkzidenzGroteskBQ-BdCnd.otf) format("opentype");;
 }
 @font-face {
    font-family: normalFont;
    src: url(./fonts/AkzidenzGroteskBQ-Cnd.otf) format("opentype");;
 }
 .normalFont{
     font-family: normalFont;
     font-size: 1.2em;
     /* font-size: 0.75rem; */
 }
 .boldFont{
    font-family: boldFont;
    font-size: 1.6em;
    /* font-size: 1rem; */
}
#container {
    width:100%;
    text-align:center;
}

#left {
    float:left;
    width:100px;
}

#center {
    display: inline-block;
    margin:0 auto;
    width:100px;
}

#right {
    float:right;
    width:100px;
}
/* @font-face {
    font-family: myFirstFontTTF;
    src: url(./fonts/AkzidenzGroteskBQ-Cnd.otf) format("opentype");;
 }
 .normalFont{
     font-family: myFirstFontTTF;
 } */
/* #item1>.row{
		position: absolute;
    bottom: 100px;
} */
